<IfModule mod_rewrite.c>
   RewriteEngine On
   
   # Redirect from old domain to new
   RewriteCond %{HTTP_HOST} ^forum.kohanaphp.com$ [NC]
   RewriteRule ^(.*)$ http://forum.kohanaframework.org/$1 [R=301,L]

   # Certain hosts may require the following line.
   # If vanilla is in a subfolder then you need to specify it after the /. 
   # (ex. You put Vanilla in /forum so change the next line to: RewriteBase /forum)
   # RewriteBase /
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteRule ^(.*)$ index.php\?p=$1 [QSA,L]
</IfModule>